<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--jumbtron with button-->
    <div class="container">
      <div class="jumbotron text-center">
        <h1> Mission To Mars</h1>
          <p><a class='btn btn-primary btn-lrg' href='/scrape'>Scrape New Data</a></p>
      </div> 
    </div>

    <!--Mars News-->
    <div class = "container text-left">
      <h3> <strong>Latest Mars News</strong> </h3>
        <h4> {{ mars.news_title }} </h4>
        <p> {{ mars.news_p }} </p>
    </div>

    <!-- Mars Featured Image-->
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="heading"><strong>Featured Mars Image</strong></h3>
          <img style="max-width: 100%;" src="{{ mars.featured_image_url }}" alt="Mars Image">
        </div>
        
        <div class="col-md-4">
          <h3> Mars Facts
            {{ mars.html_table | safe }}
          </h3>
        </div>
      </div>
    </div>
    
    <!-- Mars Hemisphere Photos-->
    
    <div class="container-fluid bg-3 text-center">
      <h2> <strong>Mars Hemispheres</strong></h2><hr>
        <div class="row">
          <div class="col-md-6">
            <img src="{{ mars.hemisphere_image_urls[0].img_url }}" width="75%" alt="Mars Image"><br>
              <h3>{{ mars.hemisphere_image_urls[0].title }}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{ mars.hemisphere_image_urls[1].img_url }}" width="75%" alt="Mars Image"><br>
              <h3>{{ mars.hemisphere_image_urls[1].title }}</h3>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <img src="{{ mars.hemisphere_image_urls[2].img_url }}" width="75%" alt="Mars Image"><br>
              <h3>{{ mars.hemisphere_image_urls[2].title }}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{ mars.hemisphere_image_urls[3].img_url }}" width="75%" alt="Mars Image"><br>
              <h3>{{ mars.hemisphere_image_urls[3].title }}</h3>
          </div>
        </div>
    </div>

</body>
</html>